#!/usr/bin/php5 -q
<?php

// Set $vbulletin_root_path to the absolute path to your forum directory.
$vbulletin_root_path = '/path/to/my/vbulletin/forum';


$sphinx_conf['index_path'] = '/path/to/my/index/folder';
$sphinx_conf['searchd_pid'] = '/var/run/sphinx_demon.pid';

// Comment to use host:port from vbulletin config
// But socket connect is a bit faster
$sphinx_conf['db_sock'] = '/var/run/mysqld/mysqld.sock';

// Uncomment to use stopwords
//$sphinx_conf['sphinx_stopwords_file'] = '/path/to/my/sphinx/stopwords.txt';

// Uncomment to use wordforms
//$sphinx_conf['sphinx_wordforms_file'] = '/path/to/my/sphinx/wordforms.txt';

// Uncomment to use exceptions
//$sphinx_conf['sphinx_exceptions_file'] = '/path/to/my/sphinx/exceptions.txt';

// You can add more templates here. They will be concatenated
$config_templates[] = 'sphinx.conf.tpl';

// Uncomment to change defaults for indexer/daemon
// $sphinx_conf['mem_limit'] = '256';
// $sphinx_conf['query_log'] = '/dev/null';
// $sphinx_conf['log_file'] = '/dev/null';
// $sphinx_conf['read_timeout'] = 5;
// $sphinx_conf['max_children'] = 5;
// $sphinx_conf['max_matches'] = 50000;


define('SPHINX_PARSE_FILE', dirname(__FILE__) . '/sphinx-cfg-parse.php');
if (file_exists(SPHINX_PARSE_FILE))
{
    include(SPHINX_PARSE_FILE);
}
else
{
    echo 'Check path to sphinx_parse.php file ';
}
